* {
   padding: 0;
   margin: 0;
}

body {
   min-height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
   position: fixed;
   width: 100%;
   z-index: 1000;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
   height: 50px;
}

nav a {
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   color: black;
   align-items: center;
}

nav a:hover {
   color: #FF6000;
}

nav li:first-child {
   margin-right: auto;
   font-size: larger;
}

nav strong {
   color: #FF6000;
}

nav li:first-child a:hover {
   color: black;
}

.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100vh;
   padding-left: 3%;
   padding-right: 3%;
}

.wave {
  animation-name: wave-animation; /* Refers to the @keyframes below */
  animation-duration: 2.5s;        /* The time it takes to complete one cycle */
  animation-iteration-count: infinite; /* Keeps the animation looping forever */
  transform-origin: 90% 90%;       /* Sets the pivot point to the bottom-left of the hand */
  display: inline-block;           /* Needed for the transform to work correctly on an inline element */
  font-size: 50px;                 /* Make the emoji visible */
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) } /* Rotates the hand clockwise */
  20% { transform: rotate(-8.0deg) } /* Rotates the hand counter-clockwise */
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }  /* Returns to the starting position */
  100% { transform: rotate(0.0deg) } /* Stays at rest for the remainder of the duration (60% to 100%) */
}
