* {
   padding: 0;
   margin: 0;
}

body {
   min-height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
   position: fixed;
   width: 100%;
   z-index: 1000;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
   height: 50px;
}

nav a {
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   color: black;
   align-items: center;
}

nav a:hover {
   color: green;
}

nav li:first-child {
   margin-right: auto;
   font-size: larger;
}

nav strong {
   color: green;
}

nav li:first-child a:hover {
   color: black;
}

.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   padding: 2%;
}