* {
   padding: 0;
   margin: 0;
}

body {
   min-height: 100vh;
   margin: 0;
   background-color: #010805;
   overflow-x: hidden;
   color: white;
   font-family: sans-serif;
}

nav {
   position: fixed;
   width: 100%;
   z-index: 1000;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
   height: 50px;
}

nav a {
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   color: white;
   align-items: center;
}

nav a:hover {
   color: green;
}

nav li:first-child {
   margin-right: auto;
   font-size: larger;
}

nav strong {
   color: green;
}

nav li:first-child a:hover {
   color: white;
}

.intro {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100vh;
   padding: 20px;
}

.glass {
   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: 3rem;
   border-radius: 24px;
   max-width: 600px;
   margin: 50px auto;
   text-align: center;
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
   flex-grow: 1;
   display: flex;
   align-items: center;
}
.intro h1 {
   color: #fff;
   text-shadow: 0 0 10px rgba(0, 255, 127, 0.2);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite; 
  transform-origin: 90% 90%;
  display: inline-block;      
  font-size: 50px;        
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) } 
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) } 
  100% { transform: rotate(0.0deg) }
}

.blob-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(80px);
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 0.4;
  animation: move 20s infinite alternate;
}

.blob:nth-child(1) {
  background: #00ff7f;
  top: -10%;
  left: -10%;
}

.blob:nth-child(2) {
  background: #008080;
  bottom: -10%;
  right: -10%;
  animation-duration: 25s;
  animation-direction: alternate-reverse;
}

.blob:nth-child(3) {
  background: #004d40;
  top: 40%;
  left: 30%;
  width: 600px;
  height: 600px;
  animation-duration: 30s;
}

@keyframes move {
  from { transform: translate(0, 0) scale(1); }
  to { transform: translate(20vw, 20vh) scale(1.2); }
}

.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: rgba(0, 0, 0, 0.2);
   box-shadow: 0 10px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(10px);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.sidebar li {
   width: 100%;
}

.sidebar a {
   width: 100%;
}